<h2>Detalle estudiantes</h2>

<b>Nombre:</b> {{ e.nombre }}<br>
<b>Apellido:</b> {{ e.apellido }}<br>
<b>Edad:</b> {{ e.edad }}<br>
<b>Cédula:</b> {{ e.cedula }}<br>
<hr>

<table border="1px">
  <tr>
    <th><b>Módulo</b></th>
    <th><b>Comentario</b></th>
    <th><b>Costo</b></th>
  </tr>
  {% for m in e.obtener_matriculas %}
  <tr>
    <td>{{ m.modulo.get_nombre_display }}</td>
    <td>{{ m.comentario }}</td>
    <td>${{ m.modulo.costo }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="2" align="right"><b>Total:</b></td>
    <td><b>${{ total }}</b></td>
  </tr>
</table>

<br>
[<a href="{% url 'index' %}">inicio</a>]
